body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
}

.container {
  max-width: 500px;
  margin: 60px auto;
  padding: 20px;
  text-align: center;
}

h1 {
  margin-bottom: 10px;
}

.botao {
  display: block;
  margin: 12px 0;
  padding: 16px;
  background: #22c55e;
  color: white;
  text-decoration: none;
  border-radius: 12px;
  font-weight: bold;
  transition: 0.2s;
}

.botao:hover {
  background: #16a34a;
  transform: scale(1.02);
}
